{% extends 'default/index.html' %}
{% load static %}

{% block main_body %}


<div class="row">
    <div class="col-lg-12 ">

        <div class="card m-4" style="background-color: antiquewhite; font-family: serif;">
            <div class="card-body">
                <div class="col-12"> <h3>About Us</h3></div>
                <hr>
                
                <!-- <p><b>Connecting Karachi to the World, One Flight at a Time</b></p> -->
                
                <h3 class=" text-center">Pioneering Air Cargo Excellence Since 2013</h3>
                <h5>Our unwavering goal for over a decade has been 
                    to unite Karachi with the world through air transportation.
                     Over time, we have established ourselves as a major player
                      in the air cargo sector, with a strong focus on providing our
                       clients with efficient and effective solutions. Our steadfast commitment
                        to delivering seamless and productive services has garnered us a reputation as a leader
                         in our industry.</p>
            </div>
        </div>

    </div>



</div>
{% include 'others/footer.html' %}
{% endblock %}