{% extends 'default/index.html' %}
{% load static %}

{% block main_body %}


<div class="row">
    <div class="col-lg-12 ">

        <div class="card m-4" style="background-color: antiquewhite; font-family: serif;">
            <div class="card-body">
                <div class="col-12"> <h3>Contact Us</h3></div>
                <div class="row">
                    <ul>
                        <li><h4><b>Sarmad jamil : </b>0312 1276468</h4> </li>
                        <li><h4><b>Muhammad Hamza : </b>0341 2122450</h4></li>
                    </ul>
                    <!-- <div class="col-6"><b>Sarmad jamil : </b> 0312 1276468 </div>
                    <div class="col-6"><b>Hamza : </b> 0341 2122450</div> -->
                </div>  
                <hr>
                
                <!-- <p><b>Connecting Karachi to the World, One Flight at a Time</b></p> -->
                
                <h3 class=" text-center">Pioneering Air Cargo Excellence Since 2013</h3>
                <h5>Our unwavering goal for over a decade has been 
                    to unite Karachi with the world through air transportation.
                     Over time, we have established ourselves as a major player
                      in the air cargo sector, with a strong focus on providing our
                       clients with efficient and effective solutions. Our steadfast commitment
                        to delivering seamless and productive services has garnered us a reputation as a leader
                         in our industry.</h5>
                         <hr>
                       
            </div>
        </div>

    </div>



</div>
{% include 'others/footer.html' %}
{% endblock %}