{% extends "default/base.html" %}
{% load static %}
{% block content %}




  <!-- Content Wrapper. Contains page content -->
  <!-- <div class="content-wrapper"> -->
  <div class="">

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      

            {% block main_body %}

            <div class=" hold-transition login-page">
              <div class="login-logo">
                <a href="{% url 'home' %}"><b>Skylift</b>Courier</a>
              </div>
              <!-- /.login-logo -->
              <div class="card" style="width: 46rem;">
                <div class="card-body login-card-body">
                  <p class="login-box-msg">Sign in</p>
            
                  <form id="login_user" data-method="post" data-url="{% url 'login_url' %}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" name="username" placeholder="Username" style="height: 56px ">
                      <div></div>
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-envelope"></span>
                        </div>
                      </div>
                    </div>
                    <div class="input-group mb-3">
                      <input type="password" class="form-control" name="password" placeholder="Password" style="height: 56px ">
                      <div></div>
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-lock"></span>
                        </div>
                      </div>
                    </div>
                    <button   class="btn btn-primary btn-block" style="height: 56px ">Sign In</button>
                    
                  </form>

                  <div class="row">
                    <div class="col-4">
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                      <!-- <button type="submit"  class="btn btn-primary btn-block" style="height: 56px ">Sign In</button> -->
                      <p class="mb-1 mt-2">
                        <a href="forgot-password.html" style="padding-left: 27px;">I forgot my password</a>
                      </p>
                    </div>

                    <div class="col-4">
                      
                    </div>
                    <!-- /.col -->
                  </div>
            
                  
                  <!-- /.social-auth-links -->
                  <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4"></div>
                    <div class="col-4"></div>
                  </div>
                  <!-- <p class="mb-1">
                    <a href="forgot-password.html">I forgot my password</a>
                  </p> -->
                  
                </div>
                <!-- /.login-card-body -->
              </div>
            </div>
            {% endblock %}
        

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>



{% endblock %}

{% block "extra_scripts" %}

<script src="{% static '/validators/auth/auth_user.js' %}"></script>
<script src="{% static '/custom-js/auth/auth.js' %}"></script>
<script src="{% static '/validators/custom_validation_functions.js' %}"></script>

{% endblock %}


