<section class="content" style="bottom: 3%;">
    <div class="container-fluid">
      <div class="row">

<div class="row">
    <div class="col-lg-12 ">
        <div class="card" style="background-color: #f5c788; font-family: serif;">
            <div class="card-body">
            <footer class="py-3 my-4">
                <h4>About Developer</h4>
                <hr>
                <div class="row">
                    <div class="col-lg-10 col-sm-6">
                        <h5 class="nav justify-content-center pb-3 mb-3">"Hello there! This application was designed and
                            developed by a professional sofware engineer.
                            If you're in need of a courier service application or have any questions, feel free to drop a
                            message on developer
                            WhatsApp. He'd be more than happy to chat and see how he can assist you. Looking forward to hearing
                            from you!"</h5>
                    </div>
                    <div class="col-lg-2 col-sm-6 border-left">
                        <!-- Whatsapp -->
                        <div class="row">
                            <div class="col-2">
                                <i class="bi bi-whatsapp fs-10" style="font-size: 2em;color: green;"><a href="https://wa.me/1234567890"
                                    target="_blank"></a></i>
                            </div>
                            <div class="col-5">
                                <b>+92 3115398982</b>
                            </div>
                        </div>
                        <hr>
                        <!-- Gmail -->
                        <div class="row">
                            <div class="col-2">
                                <i class="bi bi-envelope-at-fill fs-10" style="font-size: 2em;color: green;"><a href="https://wa.me/1234567890"
                                    target="_blank"></a></i>
                            </div>
                            <div class="col-10">
                                <b>khizerkhan736@gmail.com</b>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <hr>
                

                
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-muted">Home</a></li>
                    <li class="nav-item"><a href="{% url 'contactus' %}" class="nav-link px-2 text-muted">Contact Us</a></li>
                    <li class="nav-item"><a href="{% url 'aboutus' %}" class="nav-link px-2 text-muted">About Us</a></li>
                    <li class="nav-item"><a href="{% url 'ourservices' %}" class="nav-link px-2 text-muted">Our Services</a></li>
                    <li class="nav-item"><a href="{% url 'ourtrackrecord' %}" class="nav-link px-2 text-muted">Our Track Record</a></li>
                </ul>
                <p class="text-center text-muted">© 2024 Skylift Courier</p>
            </footer>
            </div>
        </div>

    </div>
    



</div>
</div>
</div>
</section>
