<section style="background-color: #fd7e14;">
    <footer class="py-3 my-4">
        <h5 class="nav justify-content-center pb-3 mb-3">"Hello there! This application was designed and developed by yours truly.
             If you're in need of a courier service application or have any questions, feel free to drop me a message on 
            WhatsApp. I'd be more than happy to chat and see how I can assist you. Looking forward to hearing from you!"</h5>
            
            <i class="bi bi-whatsapp fs-10" style="font-size: 2em;"><a href="https://wa.me/1234567890" target="_blank">
                
            </a></i>
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">© 2024 Skylift Courier</p>
    </footer>
</section>