{% extends "default/base.html" %}

{% block content %}

{% include 'others/header.html' %}



  <!-- Content Wrapper. Contains page content -->
  <!-- <div class="content-wrapper"> -->
  <div class="">

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

            {% block main_body %}
            {% endblock %}
        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>



{% endblock %}
