.card-with-background {
    background-image: url('../../image/front_page_images/claudio-schwarz-FLLKq3yDnfI-unsplash.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
    background-repeat: no-repeat;
    /* Add any other background properties you need */
}



